

#wrapper {
    width: 960px;
    background-color: white;
}
#top {
    height: 100px;
    line-height: 100px;
}
#logo {
    height: 135px;
}

#banner {
    background-image: url("docs/images/car.jpg");
    background-size: cover;
    height: 600px;
    position: relative;
}

#main {
    margin-top: 31px;
}

#footer {
    height: 90px;
    line-height: 90px;
}

#banner h1 {
    position: relative;
    top: 150px;
    left: 30px;
}
.Helvetica {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}
.marginCenter {
    margin-right: auto;
    margin-left: auto;
}
.grBig {
    width: 500px;
}

.floatLeft {
    float: left;
}

.textRight {
    text-align: right;
}

.wrapperPaddingRight {
    padding-right: 31px;
}

.clearMargin {
    margin: 10px;
}

.clearPadding {
    padding: 0px;
}

.displayInline {
    display: inline;
    align: left;
}

.clearFix {
    clear: both;
}

.grSmall {
    width: 323px;
}


.alignCenter {
    text-align: center;
}
.thinBorder {
    border: 1px black solid;
}

a{
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
