xbody {
    overflow: scroll;

}

#wrapper {
    width: 960px;
    /* background-color: blanchedalmond; */
}
#top {
    height: 135px;
    line-height: 135px;
}
#logo {
    height: 135px;
}

#sideCard {
    padding: 18px;
}
#banner {
    background-image: url("../images/me.jpg");
    background-size: cover;
    height: 367px;
    position: relative;
}
#main {
    margin-top: 31px;
}
#panel1, #panel2, #panel3 {
    width: 320px;
}
#footer {
    height: 100px;
    line-height: 100px;
}

#banner h1 {
    position: relative;
    top: 115px;
    left: 100px;
}
.contentMargin {
    margin-left: 31px;
    margin-right: 31px;
}
.contentText {
    margin-left: 31px;
}
.panelMargin {
    margin-left: 62px;
    margin-right: 31px;
}
.panelOlMargin {
    margin-left: 31px;
    margin-right: 31px;
}

.panelHeadingMargin {
    margin-left:31px;
    margin-top: 0px;
    margin-bottom: 16px;
}
.topMargin {
    margin-top: 31px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.fullPercent {
    width: 100%;
    height: 100%;
}

.textCenter {
    text-align: center;
}

.thinBorder {
    border: 1px black solid;
}

.marginCenter {
    margin-right: auto;
    margin-left: auto;
}

.displayInline {
    display: inline;
}

.sqrPadding {
    padding-left: 31px;
    padding-right: 31px;
}
.wrapperPaddingRight {
    padding-right: 31px;
}
.floatLeft {
    float: left;
}

.clearMargin {
    margin: 0px;
}

.clearPadding {
    padding: 0px;
}

.clearFix {
    clear: both;
}
.grSmallPadding {
    padding-left: 19px;
    padding-right: 19px;
}
.grSmall {
    width: 329px;
}
.grBigPadding {
    padding-left: 24px;
    padding-right: 24px;
}
.grBig {
    width: 600px;
}

.grFont {
    line-height: 27px;
    font-size: 16px;
}

.Helvetica {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.textRight {
    text-align: right;
}

.alignRight {
    text-align: right;
}

.alignCenter {
    text-align: center;
}